@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    grid-area: footer;
    margin-top: auto; /* This ensures the footer sticks to the bottom */
}


footer .footer-copyright a {
    text-decoration: none;
}

@media only screen and (max-width: 550px) {
    footer{
        font-size: 12px;    
    }
}