#sidebar {
  grid-area: sidebar;
  height: 100%;
  background-color: var(--sidebar-color);
  color: #9799ab;
  overflow-y: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: flex;
  flex-direction: column;
}

.sidebar-title {
  display: flex;
  align-items: center;
  padding: 0px 25px 0px 25px;
  margin-bottom: 20px;
}

.sidebar-brand {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 700;
}

.sidebar-item {
  display: flex;
  height: 70%;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-list {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
   /* Set a maximum height for the scroll bar to appear */
  overflow-y: auto; /* Enable vertical scroll bar */
}

.sidebar-list-item {
  padding: 15px 20px 15px 20px;
  font-size: 14px;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  text-decoration: none;
  color: #ffffff;
}

.sidebar-list-item > a:hover {
  text-decoration: none;
  color: #ffffff76;
}

.sidebar-responsive {
  display: inline !important;
  position: absolute;
  /*
    the z-index of the ApexCharts is 11
    we want the z-index of the sidebar higher so that
    the charts are not showing over the sidebar
    on small screens
  */
  z-index: 12 !important;
}
.sidebarLogo {
  height: 150px;
  width: 150px;
}
.sidebar-signout {
  padding: 15px 20px 15px 20px;
  font-size: 14px;
  color: #ffffff; /* Set the text color to white */
}

.sidebar-signout:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  color: #ffffff76; /* Set the text color on hover */
}

@media only screen and (max-height: 1180px) {
  .sidebar-item {
    height: 50%;
  }
}

@media only screen and (max-height: 980px) {
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
    max-height: 700px; /* Set a maximum height for the scroll bar to appear */
    overflow-y: auto; /* Enable vertical scroll bar */
  }
  .sidebar-item {
    height: 73%;
  }
}

@media only screen and (max-height: 900px) {
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
    max-height: 600px; /* Set a maximum height for the scroll bar to appear */
    overflow-y: auto; /* Enable vertical scroll bar */
  }
  .sidebar-item {
    height: 71%;
  }
}

@media only screen and (max-height: 750px) {
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
    max-height: 450px; /* Set a maximum height for the scroll bar to appear */
    overflow-y: auto; /* Enable vertical scroll bar */
  }
  .sidebar-item {
    height: 67%;
  }
}

@media only screen and (max-height: 680px) {
  .sidebar-list {
    padding: 0;
    margin-top: 15px;
    list-style-type: none;
    max-height: 400px; /* Set a maximum height for the scroll bar to appear */
    overflow-y: auto; /* Enable vertical scroll bar */
  }
  .sidebar-item {
    height: 64%;
  }
}

@media only screen and (max-height: 650px) {
  .sidebar-item {
    height: 61%;
  }
}
@media only screen and (max-height: 600px) {
  
  .sidebar-item {
    height: 60%;
  }
}

@media only screen and (max-height: 500px) {
  .sidebar-list {
    padding: 0;
    list-style-type: none;
    max-height: 230px; /* Set a maximum height for the scroll bar to appear */
    overflow-y: auto; /* Enable vertical scroll bar */
  }
  .sidebar-item {
    height: auto;
  }
}

